Package: com.ichitaso.syslogflipswitch
Depends: firmware (>= 4.0), mobilesubstrate, com.a3tweaks.flipswitch, syslogd
Name: Syslog Toggle (Flipswitch)
Depends: mobilesubstrate, com.a3tweaks.flipswitch, syslogd
Conflicts: de.j-gessner.syslogflipswitch
Replaces: com.ichitaso.syslogflipswitch
Version: 1.0-2
Architecture: iphoneos-arm
Description: Syslog toggle for Flipswitch.
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=flipswitchsyslogtoggleDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=flipswitchsyslogtoggleDp
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: ichitaso <willfeeltips@gmail.com>
Sponsor: thebigboss.org <http://thebigboss.org>
Section: Addons (Flipswitch)
dev: ichitaso
Tag: purpose::extension, ios7support::1, ios8support::1
